body {
    font-family: "Permanent Marker", cursive; /* Ajoutez une police de secours */
    background-image: url('../ESIG1 G2/pictures/ChatGPT Image 12 sept. 2025, 23_08_25.png');
    position: relative;
    text-shadow: black 5px 5px 5px;

}

h1{
    color: white;
    font-size: 60px;
}

h2{
    color: white;
    font-size: 40px;
}
p{
    color: white;
    background-color: rgba(153,49,19,0.7);
}
a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: #FFFF;
}

a:visited {
    color: #FFFF;
}

li{
    color: white;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    background-color: #FFFF;
    color: black;
    padding: 10px;
    width: 75%;
    margin: auto;
    border: saddlebrown;
    border-radius: 10px;
    text-align: left;

}

.navbar a {
    color: black;
    display: block;
    text-align: center;
    text-shadow: none;
}

label{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}
input[type="submit"]:hover body {
    font-family: "Permanent Marker", cursive;
    background-image: url('../ESIG1 G2/pictures/ChatGPT Image 12 sept. 2025, 23_08_25.png');
}

.news {
    position: absolute;
    top: 50px;
    right: 10px;
    color: white;
    background-color: rgba(153,49,19,0.7);
    width: 25%;
    flex-direction: column;
    height: 100%;
    margin-bottom: auto;
}
section p{
    background: none;
}